OSX
#-------------------------------------------------------------------------------
.DS_STORE


#General
#-------------------------------------------------------------------------------
dist
node_modules
yarn-error.log